{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block auth_content %}
<div class="auth-wrapper">
    <div class="auth-card text-center">
        <div class="auth-brand"><i class="fa-solid fa-bolt"></i> VTU<strong>Hub</strong></div>
        <i class="fa-solid fa-circle-check fa-3x text-success my-3"></i>
        <h4 class="auth-heading">Password changed!</h4>
        <p class="auth-sub">Your password has been set successfully. You can now log in.</p>
        <a href="{% url 'login' %}" class="btn btn-primary w-100 btn-auth">Go to Login</a>
    </div>
</div>
{% endblock %}
